:host {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.01em;

  display: inline-flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  min-width: 176px;
  padding: 24px 26px 36px;
  border-radius: 8px;
  background: #fff;

  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* root */

.root {
  position: relative;
  display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
  width: 100%;
}

.root,
.root_theme_white {
  color: var(--emoji-area-text-color, #b900b3);
}

.root_theme_light,
.root_theme_dark {
  color: var(--emoji-area-text-color, #fff);
}

/* bar */

.bar {
  position: relative;
  display: block;
  margin-top: 28px;
	width: 100%;
	height: 8px;
}

.input {
  position: absolute;
  top: -13px;
  left: -8px;
  margin: 0;
  width: calc(100% + 16px);
  height: 32px;
  opacity: 0;
  cursor: pointer;
}

.slider,
.area {
  position: absolute;
  top: 0;
  width: 100%; /* changed by javascript */
  height: 8px;
  overflow: hidden;
  pointer-events: none;
}

.slider {
  border-radius: 4px;
}

.area_left {
  left: 0;
}

.area_right {
  right: 0;
}

.area_right,
.root_theme_white .area_right,
.root_theme_light .area_right {
  background: rgba(0, 0, 0, 0.2);
}

.root_theme_dark .area_right {
  background: rgb(255, 255, 255, 0.3);
}

.root_theme_white .area_left {
  background: var(--emoji-area-bar-color, linear-gradient(to right, #b900b3 0%,#f50a0a 100%));
}

.area_left,
.root_theme_light .area_left,
.root_theme_dark .area_left {
  background: var(--emoji-area-bar-color, #fff);
}

/* thumb */

.thumb {
  position: absolute;
  top: 0%;
  left: 0%; /* changed by javascript */
  width: 32px;
  height: 32px;
  margin-top: -10px;
  margin-left: -16px;
}

.floater {
  position: relative;
  display: block;
  top: -320px;
  opacity: 0;
  visibility: hidden;
  animation: float 2.2s ease-in-out infinite;
}

.root_started .floater {
  transition: top 1s ease-in, opacity 0.3s 0.7s ease-in, visibility 0s 1s;
}

.root_active .floater {
  top: -16px;
  opacity: 1;
  visibility: visible;
  transition: top 0s, visibility 0s, opacity 0s;
}

@keyframes float {
	0% {
		transform: translateY(0.3em);
	}
	50% {
		transform: translateY(0em);
	}
	100% {
		transform: translateY(0.3em);
	}
}

/* emoji */

.emoji {
  position: absolute;
  cursor: pointer;
  user-select: none;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;

  top: 50%;
  left: 50%;
  width: 0;
  height: 0;

  font-size: 32px;
  line-height: 0.75;
}

.emoji_scaled {
  font-size: 32px; /* changed by javascript */
  align-items: flex-end;
}
